/* aut.css */
/* Сброс стилей для body и html */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Стили для страницы авторизации */
.auth-body { /* Новый класс для body */
  font-family: 'Arial', sans-serif;
  background-image: url("C:\Users\polin\OneDrive\Desktop\пгу\Курсовые\Курсовая_ПСП\p-front\p-front\src\aut.jpg"); 
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.6);
}

/* Контейнер для формы авторизации */
.auth-container {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 30px;
  border-radius: 30px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Выравнивание элементов формы по вертикали */
}

/* Заголовок */
.auth-container h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #000000;
  background-color: transparent;
 
}

/* Группа элементов формы */
.auth-form-group { /* Переименовали класс */
  margin-bottom: 15px;
}

/* Метка для поля ввода */
.auth-form-group label { /* Переименовали класс */
  display: block;
  margin-bottom: 5px;
  color: #555;
}

/* Поле ввода */
.auth-form-group input { /* Переименовали класс */
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  transition: border 0.3s;
}

/* При фокусировке */
.auth-form-group input:focus { /* Переименовали класс */
  border-color: #007BFF;
  outline: none;
}

/* Кнопка авторизации */
.auth-button {
  width: 100%;
  padding: 10px;
  background-color: #ff00ee;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s;
}

/* При наведении курсора */
.auth-button:hover {
  background-color: #0056b3;
}

/* Футер страницы авторизации */
.auth-footer {
  text-align: center;
  margin-top: 15px;
}

/* Ссылка в футере */
.auth-footer a {
  color: #007BFF;
  text-decoration: none;
}

/* При наведении курсора на ссылку */
.auth-footer a:hover {
  text-decoration: underline;
}

