/* Стили для контейнера категории */
.categoriesPage-categoriesContainer {
  
  background-image: url('https://buzuluk.orb.ru/upload/resize_cache/7f7875e4e69c281ef26dc7ff8306e4e5/bkmytdexoxn1d3ony2taiple1gd64t6f_1694098595xGnhj_700_fitted_to_width.jpg');
  background-size: cover; /* Изображение растягивается на весь экран */
    background-position: center; /* Центрируем изображение */
    background-attachment: fixed; /* Фиксируем изображение при прокрутке */
    background-repeat: no-repeat; /* Отключаем повторение изображения */
  display: flex; /* Используем Flexbox для выравнивания */
  flex-direction: column; /* Устанавливаем вертикальное направление */
  align-items: center; /* Центрируем элементы по горизонтали */
  justify-content: center; /* Центрируем элементы по вертикали */
  height: 100vh; /* Высота контейнера равна высоте окна браузера */
  color: white; /* Цвет текста белый */
  text-align: center; /* Центрируем текст */
}

/* Стили для заголовка категории */
.categoriesHeader {
  width: 100vw; /* Ширина заголовка равна ширине окна */
  color: rgba(255, 255, 255, 0.9); /* Цвет текста с прозрачностью */
  background-color: rgba(0, 0, 0, 0.6); /* Полупрозрачный черный фон */
  margin: 0; /* Убираем отступы */
  padding: 20px; /* Внутренние отступы */
  text-align: center; /* Центрируем текст внутри заголовка */
  font-size: 30px; /* Размер шрифта заголовка */
  font-weight: bold; /* Жирный шрифт */
  position: fixed; /* Фиксируем заголовок в верхней части окна */
  top: 0; /* Располагаем в верхней части */
  left: 0; /* Прижимаем к левой стороне */
  z-index: 1000; /* Устанавливаем высокий порядок наложения */
}

/* Стили для футера категории */
.categoriesPage-categoriesFooter {
  position: fixed; /* Фиксированное позиционирование */
  bottom: 0; /* Прикрепляем к нижней части страницы */
  left: 0; /* Занимаем всю ширину */
  width: 100%; /* Полная ширина */
  font-size: 20px; /* Размер шрифта */
  color: #c7c2c2; /* Серый цвет текста */
  padding: 10px 0; /* Вертикальные отступы */
  background-color: rgba(0, 0, 0, 0.6); /* Черный фон с полупрозрачностью */
  text-align: center; /* Выравнивание текста по центру */
  z-index: 1; /* Устанавливаем z-index для отображения над другим содержимым */
}

/* Стили для контейнера содержимого категории */
.categoriesContent {
  display: flex; /* Используем Flexbox для содержимого */
  padding: 20px; /* Внутренние отступы содержимого */
  gap: 20px; /* Промежуток между элементами */
  margin-top: 30px; /* Отступ сверху для содержимого */
}

/* Стили для контейнера накоплений */
.savingsContainer {
  flex: 1; /* Элемент занимает оставшееся пространство */
  background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный фон */
  padding: 20px; /* Внутренние отступы */
  border-radius: 10px; /* Скругление углов */
}

/* Стили для секции с формой */
.inputSection {
  flex: 0 0 300px; /* Фиксированная ширина 300px */
  background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный фон */
  padding: 20px; /* Внутренние отступы */
  border-radius: 10px; /* Скругление углов */
  margin-right: 20px; /* Отступ справа */
}

/* Стили для контейнера ввода */
.inputContainer {
  margin: 10px 0; /* Отступы сверху и снизу */
  display: flex; /* Используем Flexbox для вертикального расположения */
  flex-direction: column; /* Устанавливаем вертикальное направление */
}

/* Стили для метки ввода */
.inputContainer label {
  margin-bottom: 5px; /* Отступ снизу для метки */
}

/* Стили для полей ввода */
.inputContainer input,
.inputContainer select {
  padding: 10px; /* Внутренние отступы для полей ввода */
  width: 100%; /* Ширина полей ввода равна 100% родительского контейнера */
  border: 1px solid #ccc; /* Серая рамка */
  border-radius: 5px; /* Скругление углов */
}

/* Стили для кнопок */
.actionButton, .addAmountButton {
  background-color: rgba(75, 192, 192, 0.6); /* Полупрозрачный цвет фона кнопок */
  color: white; /* Цвет текста кнопок белый */
  padding: 10px 15px; /* Внутренние отступы кнопок */
  border: none; /* Убираем рамку */
  border-radius: 5px; /* Скругление углов кнопок */
  cursor: pointer; /* Курсор при наведении */
  margin: 10px 0; /* Отступы сверху и снизу */
}

/* Стили для кнопок при наведении */
.actionButton:hover, .addAmountButton:hover {
  background-color: rgba(75, 192, 192, 0.8); /* Более темный цвет фона при наведении */
}

/* Стили для контейнера диаграммы */
.chartContainer {
  margin-top: 20px; /* Отступ сверху от других элементов */
  width: 400px; /* Фиксированная ширина контейнера диаграммы */
}

.FromCategoriessToStartBack-button {
   background-color: rgba(203, 108, 151, 0.6);
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    transition: background-color 0.3s ease-in-out;
}

/* Стили для кнопки возврата при наведении */
.FromCategoriessToStartBack-button:hover {
  background-color: rgba(76, 175, 80, 0.6); /* Зеленый цвет фона при наведении */
}