/* styles.css */
body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(120deg, #3b82f6, #9333ea);
  height: 100vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-image: url('https://avatars.dzeninfra.ru/get-zen_doc/1899873/pub_64f8bbb07fa6a670ccaba096_64f8bbbe7fa6a670ccabaa21/scale_1200');
    background-size: cover; /* Изображение растягивается на весь экран */
    background-position: center; /* Центрируем изображение */
    background-attachment: fixed; /* Фиксируем изображение при прокрутке */
    background-repeat: no-repeat; /* Отключаем повторение изображения */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Замените 100vw на 100%, чтобы исключить горизонтальный скролл */
  padding: 10px 20px;
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.header .menu-icon {
  cursor: pointer;
  font-size: 1.5rem;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 130px
}

.circular-menu {
  position: relative;
  width: 520px;
  height: 520px;
  border-radius: 50%;
  border: 1px #515556 solid;
  background: conic-gradient(
      #aad085 0% 33.3%,
      #b18ad5 33.3% 66.6%,
      #95d4d8 66.6% 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.circular-menu a {
  position: absolute;
  text-align: center;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  transition: transform 0.3s, background-color 0.3s;
  font-size: 24pt;
  padding: 10px;
  border-radius: 5%;
}

.circular-menu a:hover {
  transform: scale(1.1);
  background-color: rgba(255, 255, 255, 0.3); /* Пример измененного цвета */
}

.circular-menu a:nth-child(1) {
  top: 40%;
  left: 25%;
  transform: translate(-50%, -50%);
}

.circular-menu a:nth-child(2) {
  top: 40%;
  right: 25%;
  transform: translate(50%, -50%);
}

.circular-menu a:nth-child(3) {
  bottom: 25%;
  left: 50%;
  transform: translate(-50%, 50%);
  
}

.info-block {
  width: 100%;
  max-width: 500px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  color: #d1d5db;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
}
